<% include header %> 
<div class="row">
	<div class="col-xs-2 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered heading">logbook</div>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered table-col">
        <div class="table-user"><%= currentUser.userA %></div>
        <div class="table container">
            <% expense.forEach(function(expense){ %>
                <% if (expense.subUser == "userA" && expense.mainUser == currentUser.id && expense.amount != 0) { %>
                    <div class="row">
                        <div class="col line-item item-date" scope="col"><%= expense.date %></div>
                        <div class="col line-item item-expense" scope="col"><%= expense.desc %></div>
                        <div class="col line-item item-cost" scope="col"><%= expense.amount %></div>
                    </div>
                <% }; %>
            <% }); %>	
        </div>	
    </div>	

    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered table-col">	
        <div class="table-user"><%= currentUser.userB %></div>
        <div class="table container">
            <% expense.forEach(function(expense){ %>
                <% if (expense.subUser == "userB" && expense.mainUser == currentUser.id && expense.amount != 0) { %>
                    <div class="row">
                        <div class="col line-item item-date" scope="col"><%= expense.date %></div>
                        <div class="col line-item item-expense" scope="col"><%= expense.desc %></div>
                        <div class="col line-item item-cost" scope="col"><%= expense.amount %></div>
                    </div>
                <% }; %>
            <% }); %>	
        </div>
    </div>
</div>
<div class="row spacer"></div> <!--for when userB table is collapsed -->
<div class="row">
    <div class="ccol-xs-2 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered main-content">
        <a class="btn btn-block primary-button navigation" href="/new" role="button">new expense</a>
        <a class="btn btn-block secondary-button navigation" href="/show_expenses" role="button">expense table</a>
        <a class="btn btn-block secondary-button navigation" href="/login" role="button">logout</a>
    </div>
</div>
	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

//KEEP LINKS OPENING IN APP INSTEAD OF SAFARI
    $(function () {
		$('a').click(function () {
			document.location = $(this).attr('href');
			return false;
		});
    });   

//COLLAPSE TABLES
$(".table-user").click(function () {
	$header = $(this);
	//getting the next element
	$content = $header.next();
	//open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
	$content.slideToggle(400);
});
</script>  

<% include footer %> 