<!DOCTYPE html>
<html>
    <head>
        <title>even</title>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name='viewport' content='viewport-fit=cover, width=device-width, initial-scale=1.0'>
        <link rel="apple-touch-icon" href="/assets/images/icon3.png">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="apple-touch-startup-image" href="/assets/images/iPhone8LaunchImage.png">
        <link rel="apple-touch-startup-image" href="/assets/images/iPhone8PlusLaunchImage.png">
        <link rel="apple-touch-startup-image" href="/assets/images/iPhoneXLaunchImage.png">
    </head>
    <body>
        
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 col-lg-6 col-centered">
                <!-- <form id="modal-form" action="/<%= expense._id %>/edit?_method=PUT" method="POST" '> -->
                <form id="modal-form" action="/<%= expense._id %>?_method=PUT" method="POST" value='<%= expense.user %>'>

                    <div class="form-group btn-group btn-group-toggle user-buttons" data-toggle="buttons" value="<%= expense.subUser %>">   
                        <label class="btn btn-primary userA-radio">
                            <input type="radio" name="expense[subUser]" value="userA" autocomplete="off"><%= currentUser.userA %></input>
                        </label>
    
                        <label class="btn btn-primary userB-radio">
                            <input type="radio" name="expense[subUser]" value="userB" autocomplete="off"><%= currentUser.userB %></input>
                        </label>
                    </div>

                    <div class="form-group">
                        <input class="form-control data-input" id="datepicker" name="expense[date]" placeholder="date" readonly required value="<%= expense.date %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control data-input" type="text" name="expense[desc]" placeholder="description" required value="<%= expense.desc %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control data-input" type="number" pattern="\d*" name="expense[amount]" placeholder="cost" required value="<%= expense.amount %>">
                    </div>
                    <div class="form-group">
                        <button class="form-control btn primary-button">update</button>
                    </div>
                </form>
                <div class="bg-overlay" onclick="off()"></div>
                <div class="overlay" onclick="off()">
                    <div class="status-bar-overlay">
                        <% if(aOwesB < 0) { %>
                            <span><%= currentUser.userB %> owes <%= currentUser.userA %> $<%= Math.round(bOwesA) %></span>
                        <% } else if (bOwesA < 0) { %>  
                            <span><%= currentUser.userA %> owes <%= currentUser.userB %> $<%= Math.round(aOwesB) %></span>
                        <% } else { %>
                        <span>y'all even</span>
                        <%  } %>
                    </div>
                </div>
            </div>    
        </div>  
        <button type="button"><a class="btn md-danger" href="delete/<%= expense.id %>">delete</a></button>
        <button type="button" class="btn md-cancel" data-dismiss="modal">cancel</button>
    

<script>

    $( function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'm/d' });
    });


//KEEP LINKS OPENING IN APP INSTEAD OF SAFARI
    $(function() {
        $('a').click(function() {
        document.location = $(this).attr('href');
        return false;
        });
    });   

//UPDATE VARIABLES WITH AJAX
    $(() => {
        const $form = $('#form')

        $form.on('submit', handleForm)

        function handleForm(e) {
            e.preventDefault()
                  
            const options = {
                method: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(), 
                success: 
                    $(document).ready (function(){
                        $('#form')[0].reset(); 
                        $('body').off().on('submit','#form', function() {  
                            $(".status-bar").load(location.href+" .status-bar>*",""); /* reload status bar */
                            $(".status-bar-overlay").load(location.href+" .status-bar-overlay>*",""); /* reload status bar */
            
                            $(".bg-overlay").fadeIn("fast").addClass("show-bg-overlay").delay(750).fadeOut(1000);
                            $(".overlay").fadeIn("fast").addClass("show-overlay").delay(500).slideUp(800).fadeOut(1000);
                            $(".status-bar-overlay").delay(600).animate({"font-size":".5em"}).fadeOut(400).fadeIn().animate({"font-size":"1.5em"});
                        });
                    }),
            }

            $.ajax(options).done(response => {
                console.log(response)
            })
        }    
    })
</script>


<!-- 5c4c6001605e6704ddec4ff7 -->