<% include header %> 
<div class="row">
    <div class="col col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered heading"><a href="/new" class="add-expense-link">add expense</a>
        <span class="heading-right">get even</span>
    </div>
</div>   
    <div class="row">  
        <div class="col col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered main-content">
        
            <div class="tab">
                <button class="btn primary-button userA-radio tablinks active" onclick="openTab(event, 'full')">full</button>
                <button class="btn primary-button userB-radio tablinks" onclick="openTab(event, 'partial')">partial</button> 
            </div>

            <div id="full" class="tabcontent">
                <form id="form" action="new" method="POST">

                    <% if(aOwesB < 0) { %>
                        <span class="payment-section"><label class="checkbox-container"> <%= currentUser.userB %> paid <%= currentUser.userA %> $<%= Math.round(bOwesA) %><input type="checkbox" id="confirmCheck" required><span class="checkmark"></span></label></span>
                    <% } else if (bOwesA < 0) { %>  
                        <span class="payment-section"><label class="checkbox-container"> <%= currentUser.userA %> paid <%= currentUser.userB %> $<%= Math.round(aOwesB) %><input type="checkbox" id="confirmCheck" required><span class="checkmark"></span></label></span>
                    <% } else { %>
                        <span class="payment-section">y'all even</span>
                    <%  } %>

                    <div class="form-group btn-group btn-group-toggle user-buttons" data-toggle="buttons">
                        <input type="radio" name="subUser" value="userA" id="btnControlA" required></input>
                        <input type="radio" name="subUser" value="userB" id="btnControlB" required></input>
                    </div>

                    <div class="form-group">
                        <input class="form-control data-input" type="hidden" id="datepicker" name="date" placeholder="date" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control data-input" type="hidden" name="desc" placeholder="description" value="gettin even y'all" required>
                    </div>
                    
                    <input type="hidden" id="makeevensource1" value=<%= aOwesB %>>    
                    <input type="hidden" id="makeevensource2" value=<%= bOwesA %>>    
                    
                    <div class="form-group">
                        <input class="form-control data-input" type="hidden" id="makeeven" pattern="\d*" name="amount" placeholder="cost" required>
                    </div>
                    <!-- <div class="form-group">
                        <button class="form-control btn primary-button">we even</button>
                    </div> -->
                    <input type="button" id="presubmit" class="form-control btn primary-button" value="we even" disabled></input>
                </form> 

                <div id="dialog-confirm" title="clear expense table?">
                    <p>cleared expenses will still be available in logbook</p>
                </div>

            </div>
            
            <div id="partial" class="tabcontent">
                <form id="form" action="new" method="POST">
                    <div class="form-group">
                        <input class="form-control data-input" type="text" id="datepicker" name="date" placeholder="date" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control data-input" type="text" name="desc" placeholder="description" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control data-input" type="number" pattern="\d*" name="amount" placeholder="cost" required>
                    </div>
                    <div class="form-group">
                        <button class="form-control btn primary-button">submit</button>
                    </div>
                </form> 
            </div>
            <div class="hasEffects bg-overlay" onclick="off()"></div>
            <div class="hasEffects overlay" onclick="off()">
                <div class="hasEffects status-bar-overlay">
                    <% if(aOwesB < 0) { %>
                        <span><%= currentUser.userB %> owes <%= currentUser.userA %> $<%= Math.round(bOwesA) %></span>
                    <% } else if (bOwesA < 0) { %>  
                        <span><%= currentUser.userA %> owes <%= currentUser.userB %> $<%= Math.round(aOwesB) %></span>
                    <% } else { %>
                      <span>y'all even</span>
                    <%  } %>
                </div>
            </div>

            <div class="navigation">
                <a class="btn btn-block secondary-button" href="/new" role="button">new expense</a>
                <a class="btn btn-block secondary-button" href="/show_expenses" role="button">expense table</a>
                <a class="btn btn-block secondary-button" href="/login" role="button">logout</a>
            </div> 
             
        </div>
        
        <% include footer %>  
    </div>    

    <script src="/js/payment.js"></script>


