<% include header %> 
<div class="row">
	<div class="col-sm-12 col-centered heading">expense table
		<span><a href="/delete/user/expenses" id="clear-expenses" class="get-even-heading">clear expenses</a></span>
	</div>
</div>   
<div class="row">
	<div class="col-md-6 col-centered table-col">
		<div class="table-user"><%= currentUser.userA %><span class="total-spent"><%= userATotal %></span></div>
		<div class="table container">
			<% expense.forEach(function(expense){ %>
				<% if (expense.subUser == "userA" && expense.mainUser == currentUser.id && expense.amount != 0) { %>
					<div class="row">
						<div class="item-id" scope="col"><%= expense.id %></div>
						<div class="col line-item item-date" scope="col"><%= expense.date %></div>
						<div class="col line-item item-expense item-desc partial-desc" scope="col"><%= expense.desc %></div>
						<!-- placeholder for partial payment -->
						<div class="col line-item item-cost partial-payment" scope="col"></div>
						<!-- ------------------------------- -->
						<div class="col line-item item-cost partial-cost" scope="col"><%= expense.amount %></div>
						<div class="col line-item item-delete">
							<button class="btn-xs edit-modal" data-toggle="modal" data-target="#myModel">
								<span class="more-dot"></span>
								<span class="more-dot"></span>
								<span class="more-dot"></span>
							</button>
						</div>	
					</div>
				<% }; %>
			<% }); %>	
		</div>	
	</div>	

	<div class="col-md-6 col-centered table-col">	
		<div class="table-user"><%= currentUser.userB %><span class="total-spent"><%= userBTotal %></span></div>
		<div class="table container">
			<% expense.forEach(function(expense){ %>
				<% if (expense.subUser == "userB" && expense.mainUser == currentUser.id && expense.amount != 0) { %>
					<div class="row">
						<div class="item-id" scope="col"><%= expense.id %></div>
						<div class="col line-item item-date" scope="col"><%= expense.date %></div>
						<div class="col line-item item-expense item-desc partial-desc" scope="col"><%= expense.desc %></div>
						<!-- placeholder for partial payment -->
						<div class="col line-item item-cost partial-payment" scope="col"></div>
						<!-- ------------------------------- -->
						<div class="col line-item item-cost partial-cost" scope="col"><%= expense.amount %></div>
						<div class="col line-item item-delete">
							<button class="btn-xs edit-modal" data-toggle="modal" data-target="#myModel">
								<span class="more-dot"></span>
								<span class="more-dot"></span>
								<span class="more-dot"></span>
							</button>
						</div>	
					</div>
				<% }; %>
			<% }); %>	
		</div>
	</div>
</div>
<div class="row spacer"></div> <!--for when userB table is collapsed -->
<div class="row">
	<div class="col-sm-12 col-centered main-content">
		<a class="btn btn-block primary-button navigation add-expense-primary" href="/new" role="button">add expense</a>
		<a class="btn btn-block secondary-button navigation" href="/archive" role="button">logbook</a>
		<a class="btn btn-block secondary-button navigation" href="/login" role="button">logout</a>
	</div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="myModel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-10 col-centered modal-heading">edit expense</div>
				</div>
				<div class="row">
					<div class="col col-sm-10 col-centered">
						<form id="modal-form" method="POST" value='<%= expense.user %>'>  <!--action in javascript-->
		
							<div class="form-group btn-group btn-group-toggle user-buttons" data-toggle="buttons" value="<%= expense.subUser %>">   
								<label class="btn btn-primary userA-radio">
									<input type="radio" name="expense[subUser]" value="userA" autocomplete="off"><%= currentUser.userA %></input>
								</label>
			
								<label class="btn btn-primary userB-radio">
									<input type="radio" name="expense[subUser]" value="userB" autocomplete="off"><%= currentUser.userB %></input>
								</label>
							</div>
		
							<div class="form-group">
								<input class="form-control data-input" id="datepicker" name="expense[date]" placeholder="date" readonly required value="<%= expense.date %>">
							</div>
							<div class="form-group">
								<input class="form-control data-input" type="text" name="expense[desc]" placeholder="description" required value="<%= expense.desc %>">
							</div>
							<div class="form-group">
								<input class="form-control data-input" type="number" pattern="\d*" name="expense[amount]" placeholder="cost" required value="<%= expense.amount %>">
							</div>
							<div class="form-group">
								<button class="form-control btn primary-button">update</button>
							</div>
						</form>
						<div class="bg-overlay" onclick="off()"></div>
						<div class="overlay" onclick="off()">
							<div class="status-bar-overlay">
								<% if(aOwesB < 0) { %>
									<span><%= currentUser.userB %> owes <%= currentUser.userA %> $<%= Math.round(bOwesA) %></span>
								<% } else if (bOwesA < 0) { %>  
									<span><%= currentUser.userA %> owes <%= currentUser.userB %> $<%= Math.round(aOwesB) %></span>
								<% } else { %>
								<span>y'all even</span>
								<%  } %>
							</div>
						</div>
					</div>    
				</div> 
				<div class="row">
					<div class="modal-options col-sm-10">
						<a class="md-danger" id="modal-delete">delete</a>
						<!-- <a onclick="return confirm('Are you sure you want to delete this expense?');" class="md-danger" href="delete/<%= expense.id %>" >delete</a> -->
						<button type="button" class="btn md-cancel" data-dismiss="modal">cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include footer %> 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

